{{!< default}}
{{#author}}
<header class="author main_hctn {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">

	{{> "nav"}}

	<div class="main_title_ctn">
	<div class="ctn main_title">
		{{#if image}}
		<a class="page_logo" href="{{@blog.url}}"><img src="{{image}}" alt="Blog Logo"></a>
		{{/if}}
		<h1 class="page_title"><a href="{{@blog.url}}">{{name}}</a></h1>
		<h2 class="page_description">{{bio}}</h2>
	</div>
	</div>

</header>
{{/author}}

<main id="content" class="ctn content" role="main">

	{{> "loop"}}

</main>